{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block head_prefix %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/website#"{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/tokyo-night-dark.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/luminous-lightbox@2.3.2/dist/luminous-basic.min.css">
<link rel="stylesheet"
    href="/static/article.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-icons-font@13.5.0/font/simple-icons.min.css">
<meta property="og:url" content="" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:description" content="{{ excerpt }}" />
<meta property="og:site_name" content="{{ settings.title }}" />
<!-- <meta property="og:image" content=" サムネイル画像の URL" /> -->
<style>
    .post img.luminous-target {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* pタグ内のem要素を中央寄せ */
    p>em {
        display: block;
        text-align: center;
        margin-top: 8px;
        /* 画像との間に少し余白を追加 */
    }

    /* 画像を親要素の幅に収める */
    .luminous img.luminous-target {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        /* 中央揃えにしたい場合 */
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="post-meta mb-4">
            <h1>{{ article.title }}</h1>
            <div class="d-flex justify-content-between">
                <div class="text-muted">
                    <i class="bi bi-clock" style="margin-right: 5px;">{{ article.createdAt | to_jst }}</i>{% if article.updatedAt != article.createdAt %} <i class="bi bi-arrow-clockwise" style="margin-right: 5px;">{{ article.updatedAt | to_jst }}</i>{% endif %} {% if settings.showViewCounts %} <i class="bi bi-eye" style="margin-right: 5px;">{{ article.viewCount }}</i>{% endif %}
                </div>
            </div>
        </div>
        <article class="post">
            {{ content | safe }}
        </article>
        <div class="author-info mt-5 p-4 bg-light rounded">
            <div class="d-flex align-items-center">
                <img src="{{ author_avatar }}" alt="著者の写真" class="img-fluid rounded-circle"
                    style="width: 60px; height: 60px;">
                <div class="ms-3">
                    <a href="/authors/{{ author_id }}">
                        <h4 class="mb-1">{{ author_name }}</h4>
                    </a>
                    <p class="mb-0">{{ author_bio }}</p>
                </div>
            </div>
        </div>
        {% if not comment_disabled %}
            {% if settings.giscusEnabled %}
                {% with settings = settings %}
                    {% include "comment.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}
        <br>
    </div>
</div>
</div>
{% endblock %}

{% block body_end %}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/javascript.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/typescript.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/css.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/html.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/python.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luminous-lightbox@2.3.2/dist/luminous.min.js"></script>
<script>
    new LuminousGallery(document.querySelectorAll('.luminous'));
    hljs.highlightAll();
</script>
{% endblock %}