<div class="giscus mt-5">
    <script async="" crossorigin="anonymous" data-category="{{ settings.giscusCategoryName }}" data-category-id="{{ settings.giscusCategoryId }}"
        data-emit-metadata="0" data-input-position="top" data-lang="ja" data-loading="lazy" data-mapping="og:title"
        data-reactions-enabled="1" data-repo="{{ settings.giscusRepo }}" data-repo-id="{{ settings.giscusRepoId }}" data-strict="0"
        data-theme="{{ settings.giscusThemeType }}" src="https://giscus.app/client.js">
    </script>
</div>